<div align="left">
<%= form_for ([@post, @post.comments.build]), :html => {:class => "form-horizontal center"} do |f| %>
        <div class="col-md-2">
          <%= f.text_field :content, class: "form-control" %> <br>
          <%= f.submit "Comment", class: "btn btn-default btn-primary" %>  
        </div>    
 <% end %>
 </div>