<div class="card-columns" style="margin-top: 50px">
<% @users.each do |u| %>
  <div class="card" style="width: 25rem; margin-left: 30px; margin-right: -50px">
    <img src=<%= u.img_url %> class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= link_to u.name, u %></h5>
      <p class="card-text"><%= u.bio %></p>
    </div>
  </div>
  <% end %>
</div>