<h1>Author's Page</h1>

<h3>Name of Author: <%= @user.name %> </h3>

<h3>Author's Posts:</h3>

<% @user.posts.each do |p| %>
<ul> <%= link_to p.title, p %>, published on <%= p.created_at %> </ul>
<% end %>